<div class="ui input">
  <input [(ngModel)]="city" type="text" placeholder="City" />
</div>

<table class="ui selectable celled table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td>
          <i [ngClass]="{'fa': true, 'fa-cloud': true}"></i>
        </td>
        <td>{{row.service}}</td>
        <td>
          <button class="ui primary button" (click)="weatherSMS()">
            <span>{{row.action}}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
